@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: normal;
    }
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center chart containers if they don't fill the entire row */
    padding: 20px 10px;
}

.chart-container {
    width: 600px; /* Define a fixed width */
    height: 350px; /* Ensure height is the same as width to maintain square shape */
    padding: 10px;
    background-color: #2c2c2e; /* Adjusted for dark mode */
    border: 2px solid #444; /* Slightly darker border for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Center in flex item if there's extra space */
}
